#haystack dependencies
requests
pydantic
nltk
pandas
rank_bm25
dill
tqdm
networkx
mmh3
quantulum3
posthog
azure-ai-formrecognizer>=3.2.0b2
more_itertools
python-docx
langdetect
tika
scipy>=1.3.2
scikit-learn>=1.0.0
seqeval
mlflow
elasticsearch>=7.7,<8
rapidfuzz>=2.0.15,<2.8.0
jsonschema
python-magic
pygraphviz
beautifulsoup4
markdown
psutil
pynvml
mmh3
tenacity
tiktoken>=0.3.0
openai
sseclient-py
boilerpy3
events

#custom dependencies
protobuf==3.20.1
faiss-cpu==1.7.2
faiss-gpu==1.7.2
torch==2.0.0
torchvision==0.15.1
torchaudio==2.0.1
git+https://github.com/huggingface/transformers@main#egg=transformers
accelerate==0.18.0
peft==0.2.0 
bitsandbytes==0.37.2
sentence-transformers>=2.2.0

#api dependencies
fastapi
uvicorn
dependency_injector